 @import 'https://cdn.rawgit.com/tristancade/geomanist/master/css/geomanist.css';

.g100 {
    font-family: 'geomanist', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.g100-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.g200 {
    font-family: 'geomanist', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.g200-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.g300 {
    font-family: 'geomanist', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.g300-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.g400 {
    font-family: 'geomanist', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.g400-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.g500 {
    font-family: 'geomanist', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.g500-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.g600 {
    font-family: 'geomanist', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.g600-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.g700 {
    font-family: 'geomanist', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.g700-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.g800 {
    font-family: 'geomanist', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.g800-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.g900 {
    font-family: 'geomanist', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.g900-italic {
    font-family: 'geomanist', sans-serif;
    font-weight: 900;
    font-style: italic;
}
